@import "fontawesome/css/all.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary{
    @apply   bg-sky-600 text-white border border-sky-700 rounded-md py-2  px-5 hover:bg-sky-800
}
.btn-outline-primary{
    @apply bg-none text-sky-800 border border-sky-800 rounded-md py-2  px-5 hover:bg-sky-800 hover:text-white
}
.btn-success{
    @apply bg-green-600 text-white border border-green-700 rounded-md py-2  px-5 hover:bg-green-700 hover:text-white
}
.btn-warning{
    @apply bg-yellow-500 text-white border border-yellow-600 rounded-md py-2  px-5 hover:bg-yellow-600
}

.btn-danger{
    @apply bg-red-500 text-white border border-red-800 rounded-md py-2  px-5 hover:bg-red-600
}
.btn-secondary{
    @apply bg-sky-800 text-white border border-sky-800 rounded-md py-2  px-5 hover:bg-sky-600
}

.btn-small{
    @apply  py-1  px-3 text-sm
}

.sumo-input{
    @apply w-full mt-3 rounded-lg border bg-gray-50 border border-gray-300 text-gray-900 focus:ring-sky-600 focus:border-sky-600 block h-12 p-2
}
.sumo-label{
    @apply text-base font-medium text-gray-900
}

.small-select{
    @apply p-1 w-full text-sm text-gray-900 bg-gray-50 rounded-md border border-gray-300 focus:ring-sky-500 focus:border-sky-500
}
